
<dl>

<dt>
<a name="BlanchetCSF24"></a>
[1]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetCSF24.html">Dealing with Dynamic Key Compromise in CryptoVerif</A>.
  In <i>Proceedings of the 37th IEEE Computer Security
  Foundations Symposium (CSF'24)</i>, pages 495-510, Enschede, The
  Netherlands, July 2024. IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetBoutryetalCSF24"></a>
[2]
</dt>
<dd>
Bruno Blanchet, Pierre Boutry, Christian Doczkal, Benjamin Grégoire, and
  Pierre-Yves Strub.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetBoutryetalCSF24.html">CV2EC: Getting the Best of Both Worlds</A>.
  In <i>Proceedings of the 37th IEEE Computer Security
  Foundations Symposium (CSF'24)</i>, pages 279-294, Enschede, The
  Netherlands, July 2024. IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetJacommeCSF24"></a>
[3]
</dt>
<dd>
Bruno Blanchet and Charlie Jacomme.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetJacommeCSF24.html">Post-quantum sound CryptoVerif and verification of hybrid
  TLS and SSH key-exchanges</A>.
  In <i>Proceedings of the 37th IEEE Computer Security
  Foundations Symposium (CSF'24)</i>, pages 543-556, Enschede, The
  Netherlands, July 2024. IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetInria2023"></a>
[4]
</dt>
<dd>
Bruno Blanchet.
  Cryptoverif: a computationally-sound security protocol verifier
  (initial version with communication on channels).
  Research report RR-9525, Inria, October 2023.
  Available at
  <A HREF="https://inria.hal.science/hal-04246199">https://inria.hal.science/hal-04246199</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetJacommeInria2023"></a>
[5]
</dt>
<dd>
Bruno Blanchet and Charlie Jacomme.
  Cryptoverif: a computationally-sound security protocol verifier.
  Research report RR-9526, Inria, October 2023.
  Available at
  <A HREF="https://inria.hal.science/hal-04253820">https://inria.hal.science/hal-04253820</A>.<br />

<p>
</dd>


<dt>
<a name="AlwenetalEurocrypt21"></a>
[6]
</dt>
<dd>
Joël Alwen, Bruno Blanchet, Eduard Hauck, Eike Kiltz, Benjamin Lipp, and Doreen
  Riepel.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/AlwenetalEurocrypt21.html">Analysing the HPKE Standard</A>.
  In Anne Canteaut and Francois-Xavier Standaert, editors, <i>
  Eurocrypt 2021</i>, volume 12696 of <i>Lecture Notes in Computer Science</i>,
  pages 87-116, Zagreb, Croatia, October 2021. Springer.<br />

<p>
</dd>


<dt>
<a name="cryptoeprint:2020:1499"></a>
[7]
</dt>
<dd>
Joël Alwen, Bruno Blanchet, Eduard Hauck, Eike Kiltz, Benjamin Lipp, and Doreen
  Riepel.
  Analysing the HPKE standard.
  Cryptology ePrint Archive, Report 2020/1499, November 2020.
  Available at
  <A HREF="https://eprint.iacr.org/2020/1499">https://eprint.iacr.org/2020/1499</A>.<br />

<p>
</dd>


<dt>
<a name="LippBlanchetBhargavanEuroSP19"></a>
[8]
</dt>
<dd>
Benjamin Lipp, Bruno Blanchet, and Karthikeyan Bhargavan.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/LippBlanchetBhargavanEuroSP19.html">A Mechanised Cryptographic Proof of the WireGuard
  Virtual Private Network Protocol</A>.
  In <i>IEEE European Symposium on Security and Privacy
  (EuroS&amp;P'19)</i>, pages 231-246, Stockholm, Sweden, June 2019. IEEE Computer
  Society.<br />

<p>
</dd>


<dt>
<a name="LippBlanchetBhargavanInria19"></a>
[9]
</dt>
<dd>
Benjamin Lipp, Bruno Blanchet, and Karthikeyan Bhargavan.
  A mechanised cryptographic proof of the WireGuard virtual private
  network protocol.
  Research report RR-9269, Inria, April 2019.
  Available at
  <A HREF="https://hal.inria.fr/hal-02100345">https://hal.inria.fr/hal-02100345</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetCSF18"></a>
[10]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetCSF18.html">Composition Theorems for CryptoVerif and Application to
  TLS 1.3</A>.
  In <i>31st IEEE Computer Security Foundations Symposium (CSF'18)</i>,
  pages 16-30, Oxford, UK, July 2018. IEEE Computer Society.<br />

<p>
</dd>


<dt>
<a name="BlanchetInria18"></a>
[11]
</dt>
<dd>
Bruno Blanchet.
  Composition theorems for CryptoVerif and application to
  TLS 1.3.
  Research Report RR-9171, Inria, April 2018.
  Available at
  <A HREF="https://hal.inria.fr/hal-01764527">https://hal.inria.fr/hal-01764527</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetCSF17"></a>
[12]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetCSF17.html">Symbolic and Computational Mechanized Verification of the
  ARINC823 Avionic Protocols</A>.
  In <i>30th IEEE Computer Security Foundations Symposium (CSF'17)</i>,
  pages 68-82, Santa Barbara, CA, USA, August 2017. IEEE.<br />

<p>
</dd>


<dt>
<a name="BhargavanBlanchetKobeissiSP2017"></a>
[13]
</dt>
<dd>
Karthikeyan Bhargavan, Bruno Blanchet, and Nadim Kobeissi.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BhargavanBlanchetKobeissiSP2017.html">Verified Models and Reference Implementations for the TLS
  1.3 Standard Candidate</A>.
  In <i>IEEE Symposium on Security and Privacy (S&amp;P'17)</i>, pages
  483-503, San Jose, CA, May 2017. IEEE.
  <b>Distinguished paper award</b>.<br />

<p>
</dd>


<dt>
<a name="BhargavanBlanchetKobeissiInria2017"></a>
[14]
</dt>
<dd>
Karthikeyan Bhargavan, Bruno Blanchet, and Nadim Kobeissi.
  Verified models and reference implementations for the TLS 1.3
  standard candidate.
  Research Report RR-9040, Inria, May 2017.
  Available at
  <A HREF="https://hal.inria.fr/hal-01528752">https://hal.inria.fr/hal-01528752</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetInria17"></a>
[15]
</dt>
<dd>
Bruno Blanchet.
  Symbolic and computational mechanized verification of the ARINC823
  avionic protocols.
  Research Report RR-9072, Inria, May 2017.
  Available at
  <A HREF="https://hal.inria.fr/hal-01527671">https://hal.inria.fr/hal-01527671</A>.<br />

<p>
</dd>


<dt>
<a name="KobeissiBhargavanBlanchetEuroSP17"></a>
[16]
</dt>
<dd>
Nadim Kobeissi, Karthikeyan Bhargavan, and Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/KobeissiBhargavanBlanchetEuroSP17.html">Automated Verification for Secure Messaging Protocols and
  their Implementations: A Symbolic and Computational Approach</A>.
  In <i>2nd IEEE European Symposium on Security and Privacy
  (EuroS&amp;P'17)</i>, pages 435-450, Paris, France, April 2017. IEEE.<br />

<p>
</dd>


<dt>
<a name="CadeBlanchetJCS14"></a>
[17]
</dt>
<dd>
David Cadé and Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/CadeBlanchetJCS14.html">Proved Generation of Implementations from Computationally
  Secure Protocol Specifications</A>.
  <i>Journal of Computer Security</i>, 23(3):331-402, 2015.<br />

<p>
</dd>


<dt>
<a name="CadeBlanchetPOST13"></a>
[18]
</dt>
<dd>
David Cadé and Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/CadeBlanchetPOST13.html">Proved Generation of Implementations from
  Computationally-Secure Protocol Specifications</A>.
  In David Basin and John Mitchell, editors, <i>2nd Conference on
  Principles of Security and Trust (POST 2013)</i>, volume 7796 of <i>Lecture
  Notes in Computer Science</i>, pages 63-82, Rome, Italy, March 2013. Springer.<br />

<p>
</dd>


<dt>
<a name="CadeBlanchetJoWUA13"></a>
[19]
</dt>
<dd>
David Cadé and Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/CadeBlanchetJoWUA13.html">From Computationally-Proved Protocol Specifications to
  Implementations and Application to SSH</A>.
  <i>Journal of Wireless Mobile Networks, Ubiquitous Computing, and
  Dependable Applications (JoWUA)</i>, 4(1):4-31, March 2013.
  Special issue ARES'12.<br />

<p>
</dd>


<dt>
<a name="CadeBlanchetARES12"></a>
[20]
</dt>
<dd>
David Cadé and Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/CadeBlanchetARES12.html">From Computationally-proved Protocol Specifications to
  Implementations</A>.
  In <i>7th International Conference on Availability, Reliability and
  Security (AReS 2012)</i>, pages 65-74, Prague, Czech Republic, August 2012.
  IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetCSF12"></a>
[21]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetCSF12.html">Automatically Verified Mechanized Proof of One-Encryption
  Key Exchange</A>.
  In <i>25th IEEE Computer Security Foundations Symposium (CSF'12)</i>,
  pages 325-339, Cambridge, MA, USA, June 2012. IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetMOD11"></a>
[22]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetMOD11.html">Mechanizing Game-Based Proofs of Security Protocols</A>.
  In Tobias Nipkow, Olga Grumberg, and Benedikt Hauptmann, editors,
  <i>Software Safety and Security - Tools for Analysis and Verification</i>,
  volume 33 of <i>NATO Science for Peace and Security Series - D:
  Information and Communication Security</i>, pages 1-25. IOS Press, May 2012.
  Proceedings of the summer school MOD 2011.<br />

<p>
</dd>


<dt>
<a name="BlanchetEPrint12"></a>
[23]
</dt>
<dd>
Bruno Blanchet.
  Automatically verified mechanized proof of one-encryption key
  exchange.
  Cryptology ePrint Archive, Report 2012/173, April 2012.
  Available at
  <A HREF="http://eprint.iacr.org/2012/173">http://eprint.iacr.org/2012/173</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetFCC11"></a>
[24]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetFCC11.html">A second look at Shoup's lemma</A>.
  In <i>Workshop on Formal and Computational Cryptography (FCC
  2011)</i>, Paris, France, June 2011.<br />

<p>
</dd>


<dt>
<a name="BlanchetPointchevalFCC10"></a>
[25]
</dt>
<dd>
Bruno Blanchet and David Pointcheval.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetPointchevalFCC10.html">The computational and decisional Diffie-Hellman
  assumptions in CryptoVerif</A>.
  In <i>Workshop on Formal and Computational Cryptography (FCC
  2010)</i>, Edimburgh, United Kingdom, July 2010.<br />

<p>
</dd>


<dt>
<a name="BlanchetJaggardRaoScedrovTsayFCC09"></a>
[26]
</dt>
<dd>
Bruno Blanchet, Aaron D. Jaggard, Jesse Rao, Andre Scedrov, and Joe-Kai Tsay.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetJaggardRaoScedrovTsayFCC09.html">Refining Computationally Sound Mechanized Proofs for
  Kerberos</A>.
  In <i>Workshop on Formal and Computational Cryptography (FCC
  2009)</i>, Port Jefferson, NY, July 2009.<br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetComonCAV09"></a>
[27]
</dt>
<dd>
Martín Abadi (invited speaker), Bruno Blanchet, and Hubert Comon-Lundh.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/AbadiBlanchetComonCAV09.html">Models and Proofs of Protocol Security: A Progress Report</A>.
  In Ahmed Bouajjani and Oded Maler, editors, <i>21st International
  Conference on Computer Aided Verification (CAV'09)</i>, volume 5643 of <i>
  Lecture Notes in Computer Science</i>, pages 35-49, Grenoble, France, June
  2009. Springer.<br />

<p>
</dd>


<dt>
<a name="BlanchetHDR"></a>
[28]
</dt>
<dd>
Bruno Blanchet.
  <i><A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetHDR.html">Vérification automatique de protocoles
  cryptographiques : modèle formel et modèle calculatoire. Automatic
  verification of security protocols: formal model and computational model</A></i>.
  Mémoire d'habilitation à diriger des recherches, Université
  Paris-Dauphine, November 2008.
  En français avec publications en anglais en annexe. In French with
  publications in English in appendix.<br />

<p>
</dd>


<dt>
<a name="BlanchetJaggardScedrovTsayAsiaCCS08"></a>
[29]
</dt>
<dd>
Bruno Blanchet, Aaron D. Jaggard, Andre Scedrov, and Joe-Kai Tsay.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetJaggardScedrovTsayAsiaCCS08.html">Computationally Sound Mechanized Proofs for Basic and
  Public-key Kerberos</A>.
  In <i>ACM Symposium on Information, Computer and Communications
  Security (ASIACCS'08)</i>, pages 87-99, Tokyo, Japan, March 2008. ACM.<br />

<p>
</dd>


<dt>
<a name="BlanchetTDSC07"></a>
[30]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetTDSC07.html">A Computationally Sound Mechanized Prover for Security
  Protocols</A>.
  <i>IEEE Transactions on Dependable and Secure Computing</i>,
  5(4):193-207, October-December 2008.
  Special issue IEEE Symposium on Security and Privacy 2006. Electronic
  version available at
  <A HREF="http://doi.ieeecomputersociety.org/10.1109/TDSC.2007.1005">http://doi.ieeecomputersociety.org/10.1109/TDSC.2007.1005</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetJaggardScedrovTsayDagstuhl07"></a>
[31]
</dt>
<dd>
Bruno Blanchet, Aaron D. Jaggard, Andre Scedrov, and Joe-Kai Tsay.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetJaggardScedrovTsayDagstuhl07.html">Computationally Sound Mechanized Proofs for Basic and
  Public-key Kerberos</A>.
  In <i>Dagstuhl seminar <tt>Formal Protocol Verification Applied</tt></i>,
  October 2007.<br />

<p>
</dd>


<dt>
<a name="BlanchetDagstuhl07"></a>
[32]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetDagstuhl07.html">CryptoVerif: A Computationally Sound Mechanized Prover
  for Cryptographic Protocols</A>.
  In <i>Dagstuhl seminar <tt>Formal Protocol Verification Applied</tt></i>,
  October 2007.<br />

<p>
</dd>


<dt>
<a name="BlanchetCSF07"></a>
[33]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetCSF07.html">Computationally Sound Mechanized Proofs of Correspondence
  Assertions</A>.
  In <i>20th IEEE Computer Security Foundations Symposium (CSF'07)</i>,
  pages 97-111, Venice, Italy, July 2007. IEEE.<br />

<p>
</dd>


<dt>
<a name="BlanchetEPrint07"></a>
[34]
</dt>
<dd>
Bruno Blanchet.
  Computationally sound mechanized proofs of correspondence assertions.
  Cryptology ePrint Archive, Report 2007/128, April 2007.
  Available at
  <A HREF="http://eprint.iacr.org/2007/128">http://eprint.iacr.org/2007/128</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetPointchevalCrypto06"></a>
[35]
</dt>
<dd>
Bruno Blanchet and David Pointcheval.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetPointchevalCrypto06.html">Automated Security Proofs with Sequences of Games</A>.
  In Cynthia Dwork, editor, <i>CRYPTO'06</i>, volume 4117 of <i>
  Lecture Notes in Computer Science</i>, pages 537-554, Santa Barbara, CA, August
  2006. Springer.<br />

<p>
</dd>


<dt>
<a name="BlanchetOakland06"></a>
[36]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetOakland06.html">A Computationally Sound Mechanized Prover for Security
  Protocols</A>.
  In <i>IEEE Symposium on Security and Privacy</i>, pages 140-154,
  Oakland, California, May 2006.<br />

<p>
</dd>


<dt>
<a name="BlanchetPointchevalEPrint06"></a>
[37]
</dt>
<dd>
Bruno Blanchet and David Pointcheval.
  Automated security proofs with sequences of games.
  Cryptology ePrint Archive, Report 2006/069, February 2006.
  Available at
  <A HREF="http://eprint.iacr.org/2006/069">http://eprint.iacr.org/2006/069</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetEPrint05"></a>
[38]
</dt>
<dd>
Bruno Blanchet.
  A computationally sound mechanized prover for security protocols.
  Cryptology ePrint Archive, Report 2005/401, November 2005.
  Available at
  <A HREF="http://eprint.iacr.org/2005/401">http://eprint.iacr.org/2005/401</A>.<br />

<p>
</dd>


<dt>
<a name="BlanchetLink05"></a>
[39]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://bblanche.gitlabpages.inria.fr/publications/BlanchetLink05.html">A Computationally Sound Automatic Prover for Cryptographic
  Protocols</A>.
  In <i>Workshop on the link between formal and computational
  models</i>, Paris, France, June 2005.<br />

<p>
</dd>
</dl>
